{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> {% block title %} 首页 {% endblock %} </title>

    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    {% block css %}

    {% endblock %}
    <style>
        {% block style %}{% endblock %}
    </style>
  </head>

    <body>
    <div class="container">
        <div class="jumbotron">
        {% block body %}{% endblock %}
        </div>
    </div>


    <script src="{% static 'jquery.min.js' %}"></script>
    <script>window.jQuery || document.write('<script src="{% static 'jquery.min.js' %}"><\/script>')</script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    {% block js %}
    {% endblock %}
  </body>
</html>