{% extends 'base.html' %}
{% load static %}
{% block title %}
    欢迎来到翻牌游戏
{% endblock %}

{% block css %}

{% endblock %}
{% block tips %}
    <b>
    {% if type == 1 or type == 3 %}
    {% elif type == 2%}
        <li>
            5、	你可以选择你的点数+0
        </li>
    {% elif type == 4 %}
            5、你可以选择对家点数—0。
    {% endif %}
    </b>
{% endblock %}
{% block body %}
<div style="margin-top: 15%">
<div class="row">
    <div class="col-md-6 col-md-offset-3">

        <div>
            <div class="text-center text-primary">
                <div class="text-center" style="">
                    <font size="6">
                        {% if type <= 2 %}
                            <label>你的点数</label>
                        {% else %}
                            <label>对家点数</label>
                        {% endif %}
                    </font>
                </div>
            </div>
            <div class="panel-body">
                <div clas="row">

                    <div class="col-md-4 col-md-offset-4">
                        <div class="panel panel-default">

                            <div class="input-group">
                                <span class="input-group-addon" style="color: black">
                                    <font size="10">
                                    {% if type <= 2 %}
                                        +
                                    {% else %}
                                        -
                                    {% endif %}
                                    </font>
                                </span>
                                <input type="text" id="pointIn" class="form-control" placeholder="翻牌点数" style='font-size:20px; height: 62px; width: 100%'>
                            </div>

                        </div>

                    </div>
                </div>

            </div>


            <div class="panel-body">
                <div clas="row">

                    <div class="col-md-4 col-md-offset-4">
                        <div class="panel panel-default">
                            {% if type == 2 or type == 4 %}
                                <div class="input-group" onclick="solve()" style="color: black" id="addition">
                                    <span class="input-group-addon" align="left" id="sub" style="color: black">
                                        <input type="checkbox" style="zoom: 200%">
                                        <font size="10">
                                        {% if type == 2 %}
                                            +
                                        {% else %}
                                            -
                                        {% endif %}
                                        </font>

                                    </span>
                                    <span align="center">
                                        <font size="10">1</font>
                                    </span>
                                </div>
                            {% endif %}
                        </div>

                    </div>
                </div>

            </div>

        </div>

        <br>
        <br>
        <br>
        <button id="main_button" onclick="getNext()" class="btn btn-primary">
            提交
        </button>
    </div>


</div>
</div>
{% endblock %}
{% block js %}
    <link rel="stylesheet" type="text/css" href="{% static 'sweetalert/css/sweetalert.css' %}">
    <script type="text/javascript" src="{% static 'sweetalert/js/sweetalert.js' %}"></script>
    <script>
    let innerIP;
    var RTCPeerConnection = window.RTCPeerConnection || window.webkitRTCPeerConnection || window.mozRTCPeerConnection;
    if (RTCPeerConnection) (function () {
        var rtc = new RTCPeerConnection({iceServers:[]});
        if (1 || window.mozRTCPeerConnection) {
            rtc.createDataChannel('', {reliable:false});
        };

        rtc.onicecandidate = function (evt) {
            if (evt.candidate) grepSDP("a="+evt.candidate.candidate);
        };
        rtc.createOffer(function (offerDesc) {
            grepSDP(offerDesc.sdp);
            rtc.setLocalDescription(offerDesc);
        }, function (e) { console.warn("offer failed", e); });


        var addrs = Object.create(null);
        addrs["0.0.0.0"] = false;
        function updateDisplay(newAddr) {
            if (newAddr in addrs) return;
            else addrs[newAddr] = true;
            var displayAddrs = Object.keys(addrs).filter(function (k) { return addrs[k]; });
            for(var i = 0; i < displayAddrs.length; i++){
                if(displayAddrs[i].length > 16){
                    displayAddrs.splice(i, 1);
                    i--;
                }
            }
            console.log("内网ip: "+ displayAddrs[0]);      //打印出内网ip
            innerIP = displayAddrs[0];
        }

        function grepSDP(sdp) {
            var hosts = [];
            sdp.split('\r\n').forEach(function (line, index, arr) {
               if (~line.indexOf("a=candidate")) {
                    var parts = line.split(' '),
                        addr = parts[4],
                        type = parts[7];
                    if (type === 'host') updateDisplay(addr);
                } else if (~line.indexOf("c=")) {
                    var parts = line.split(' '),
                        addr = parts[2];
                    updateDisplay(addr);
                }
            });
        }
    })();
    else{
        swal("获取内网ip失败：请使用主流浏览器：chrome,firefox,opera,safari");
    }

    </script>
    <script>

        let ip;
        function getIp() {
            $.ajax({
                 url: "http://pv.sohu.com/cityjson?ie=utf-8",
                 dataType: "script",
                 async: false,
                 success:function() {
                     console.log(returnCitySN);
                     console.log("ip_in_func: " + returnCitySN['cip']);
                     ip = returnCitySN['cip'];
                 }
            })
        }
        getIp();
    </script>
    <script>
        window.alert = function(name){
            var iframe = document.createElement("IFRAME");
            iframe.style.display="none";
            iframe.setAttribute("src", 'data:text/plain,');
            document.documentElement.appendChild(iframe);
            window.frames[0].window.alert(name);
            iframe.parentNode.removeChild(iframe);
        };
    </script>
    <script>
        let type = parseInt("{{ type }}");
        let data = [];
        //防抖函数
        function debounce(fn,delay){

            let delays=delay||500;
            let timer;
            return function(){
                let th=this;
                let args=arguments;
                if (timer) {
                    clearTimeout(timer);
                }
                timer=setTimeout(function () {
                        timer=null;
                        fn.apply(th,args);
                }, delays);
            };
        }
        $('#pointIn').on("input", debounce(function(e) {
            let val = e.delegateTarget.value;
            val = parseInt(val);
            console.log(val);
            if(!isNaN(val)) {
                data.push(val);

            }
        }))

        $(function() {
            if(!ip) {
                getIp();
            }
        })
        let is_checked = false;
        function solve() {
            is_checked = !is_checked;
            if(is_checked) {
                document.getElementById("pointIn").disabled = "disabled";
                document.getElementById("addition").style.color = "red";
                document.getElementById("sub").style.color = "red";

            } else {
                document.getElementById("pointIn").disabled = "";
                document.getElementById("addition").style.color = "black";
                document.getElementById("sub").style.color = "black";

            }

        }
        function getNext() {
            document.getElementById("main_button").disabled = "disabled";
            if(data.length === 0 && !is_checked) {
                document.getElementById("main_button").disabled = "";
                swal("信息输入错误");
                return;
            }
            let cnt = 0;
            while(! ip) {
                getIp();
                if(++ cnt === 5) {
                    document.getElementById("main_button").disabled = "";
                    swal("连接网络再试!");
                    return;
                }
            }
            console.log("ip : " + ip + ":" + innerIP);
            console.log("ans: " + "{{ ans }}");
            console.log("is_checked: " + is_checked);
            console.log("input: " + data);
            console.log("type: " + type);
            $.post("{% url 'update_db' %}", {
                ip: ip + ":" + innerIP,
                ans: "{{ ans }}",
                input: JSON.stringify(data),
                flag: is_checked,
                type: "{{ type }}",
                is_cheat: "{{ is_cheat }}",
            }, function(data) {
                if(data === 'success') {
                    swal("完成答卷");
                    setTimeout(function(){
                        window.location = "{%  url 'finished' %}?type={{ type }}"
                    }, 2000);

                } else {
                    document.getElementById("main_button").disabled = "";
                    swal("系统出现错误, 请举手");
                }
            })
        }
    </script>
    <script>
        $(function() {
        　　if (window.history && window.history.pushState) {
            　　$(window).on('popstate', function () {
            　　window.history.pushState('forward', null, '#');
            　　window.history.forward(1);
            　　});
        　　}
        　　window.history.pushState('forward', null, '#'); //在IE中必须得有这两行
        　　window.history.forward(1);
    　　})


    </script>

    <script>
        window.addEventListener("popstate", function(e){
            swal("can't come back!");//根据自己的需求实现自己的功能
            console.log(e);
            e.preventDefault();
        }, false);
    </script>
{% endblock %}