{% extends 'base.html' %}

{% block title %}
    欢迎来到翻牌游戏
{% endblock %}

{% block css %}

{% endblock %}


{% block body %}
    <div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <font size="10">
                    {% if type <= 2 %}
                        <label>你的点数</label>
                    {% else %}
                        <label>对家点数</label>
                    {% endif %}
                </font>
            </div>
            <div class="panel-body" align="center">

                <div class="input-group">
                    <span class="input-group-addon">
                        <font size="10">
                        {% if type <= 2 %}
                            +
                        {% else %}
                            -
                        {% endif %}
                        </font>
                    </span>
                    <input type="text" id="pointIn" class="form-control" placeholder="输入你的点数" style='font-size:20px; height: 62px'>
                </div>
                {% if type == 2 or type == 4 %}
                    <div class="input-group">
                        <input type="checkbox" style="size:62px" id="checkIn">
                        <span>
                            <font size="10">
                                {% if type == 2 %}
                                    +
                                {% else %}
                                    -
                                {% endif %}
                                0
                            </font>
                        </span>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script>
        let ip = 0;
        function getIp() {
            $.ajax({
                 url: "http://pv.sohu.com/cityjson?ie=utf-8",
                 dataType: "script",
                 async: false,
                 success:function() {
                     console.log(returnCitySN);
                     console.log("ip_in_func: " + returnCitySN['cip']);
                     ip = returnCitySN['cip'];
                 }
            })
        }
        getIp();
    </script>
    <script>
        let type = parseInt("{{ type }}");
        let data = [];
        $('#pointIn').change(function() {
            let val = $('#pointIn').val();
            data.push(val);
        })
        document.onkeyup = function(e) {
            if(window.event) {
                e = window.event;
            }
            let code = e.charCode || e.keyCode;
            if(code === 13) {
                let is_checked = $("#checkIn").is(':checked');
                while(! ip) {
                    getIp();
                }
                console.log("is_checked: " + is_checked);
                console.log("input_data: " + data);
                console.log("ip :" + ip);
                if(is_checked) {

                } else {

                }
            }
        }
        $(function() {
            if(!ip) {
                getIp();
            }
        })
    </script>
{% endblock %}