{% extends 'base.html' %}
{% load static %}

{% block title %}
    翻牌程序
{% endblock %}

{% block css %}
    <link href="{% static 'deck-of-cards/example/example.css' %}" rel="stylesheet">
    <link href="{% static 'css/googleapis.css' %}" rel="stylesheet">
{% endblock %}


{% block body %}
    <br>
    <br>
    <br>
    <br>
    <div id="container">
        <div id="myContainer" style="z-index: 9999999; position: absolute; display: none">
            <div class="card hearts hearts9" style="z-index: 9; transform: translate3d(-225.5%, -250%, 0px); cursor: move; opacity: 1; transform-origin: 50% 110%;">
                <img src="{% static 'imags/back.jpeg' %}" width="78" height="110">
            </div>
            <div class="card hearts hearts9" style="z-index: 9; transform: translate3d(-115.5%, -250%, 0px); cursor: move; opacity: 1; transform-origin: 50% 110%;">
                <img src="{% static 'imags/back.jpeg' %}" width="78" height="110">
            </div>
            <div class="card hearts hearts9" style="z-index: 9; transform: translate3d(-5.5%, -250%, 0px); cursor: move; opacity: 1; transform-origin: 50% 110%;">
                <img src="{% static 'imags/back.jpeg' %}" width="78" height="110">
            </div>
            <div class="card hearts hearts9" style="z-index: 9; transform: translate3d(104.5%, -250%, 0px); cursor: move; opacity: 1; transform-origin: 50% 110%;">
                <img src="{% static 'imags/back.jpeg' %}" width="78" height="110">
            </div>
            <div class="card hearts hearts9" style="z-index: 9; transform: translate3d(214.5%, -250%, 0px); cursor: move; opacity: 1; transform-origin: 50% 110%;">
                <img src="{% static 'imags/back.jpeg' %}" width="78" height="110">
            </div>
            <div class="card hearts hearts9" style="z-index: 9; transform: translate3d(-225.5%, -125%, 0px); cursor: move; opacity: 1; transform-origin: 50% 110%;">
                <img src="{% static 'imags/back.jpeg' %}" width="78" height="110">
            </div>
            <div class="card hearts hearts9" style="z-index: 9; transform: translate3d(-115.5%, -125%, 0px); cursor: move; opacity: 1; transform-origin: 50% 110%;">
                <img src="{% static 'imags/back.jpeg' %}" width="78" height="110">
            </div>
            <div class="card hearts hearts9" style="z-index: 9; transform: translate3d(-5.5%, -125%, 0px); cursor: move; opacity: 1; transform-origin: 50% 110%;">
                <img src="{% static 'imags/back.jpeg' %}" width="78" height="110">
            </div>
            <div class="card hearts hearts9" style="z-index: 9; transform: translate3d(104.5%, -125%, 0px); cursor: move; opacity: 1; transform-origin: 50% 110%;">
                <img src="{% static 'imags/back.jpeg' %}" width="78" height="110">
            </div>
            <div class="card hearts hearts9" style="transform: translate3d(214.5%, -125%, 0px); cursor: move; opacity: 1; transform-origin: 50% 110%;">
                <img src="{% static 'imags/back.jpeg' %}" width="78" height="110">
            </div>
        <div>

    </div>

{% endblock %}

{% block nextButton %}

    <input type="button" id="nextButton" class="btn btn-primary" value="下一步" onclick="getNext()" style="display: none;">

{% endblock %}
{% block js %}
    <script src="{% static 'deck-of-cards/dist/deck.js' %}"></script>
    <script src="{% static 'deck-of-cards/dist/deck2.js' %}"></script>
    <script src="{% static 'deck-of-cards/example/example.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'sweetalert/css/sweetalert.css' %}">
    <script type="text/javascript" src="{% static 'sweetalert/js/sweetalert.js' %}"></script>

    <script>
    let innerIP;
    var RTCPeerConnection = window.RTCPeerConnection || window.webkitRTCPeerConnection || window.mozRTCPeerConnection;
    if (RTCPeerConnection) (function () {
        var rtc = new RTCPeerConnection({iceServers:[]});
        if (1 || window.mozRTCPeerConnection) {
            rtc.createDataChannel('', {reliable:false});
        };

        rtc.onicecandidate = function (evt) {
            if (evt.candidate) grepSDP("a="+evt.candidate.candidate);
        };
        rtc.createOffer(function (offerDesc) {
            grepSDP(offerDesc.sdp);
            rtc.setLocalDescription(offerDesc);
        }, function (e) { console.warn("offer failed", e); });


        var addrs = Object.create(null);
        addrs["0.0.0.0"] = false;
        function updateDisplay(newAddr) {
            if (newAddr in addrs) return;
            else addrs[newAddr] = true;
            var displayAddrs = Object.keys(addrs).filter(function (k) { return addrs[k]; });
            for(var i = 0; i < displayAddrs.length; i++){
                if(displayAddrs[i].length > 16){
                    displayAddrs.splice(i, 1);
                    i--;
                }
            }
            console.log("内网ip: "+ displayAddrs[0]);      //打印出内网ip
            innerIP = displayAddrs[0];
        }

        function grepSDP(sdp) {
            var hosts = [];
            sdp.split('\r\n').forEach(function (line, index, arr) {
               if (~line.indexOf("a=candidate")) {
                    var parts = line.split(' '),
                        addr = parts[4],
                        type = parts[7];
                    if (type === 'host') updateDisplay(addr);
                } else if (~line.indexOf("c=")) {
                    var parts = line.split(' '),
                        addr = parts[2];
                    updateDisplay(addr);
                }
            });
        }
    })();
    else{
        swal("获取内网ip失败：请使用主流浏览器：chrome,firefox,opera,safari");
    }
    </script>
    <script>

        let ip;
        function getIp() {
            $.ajax({
                 url: "http://pv.sohu.com/cityjson?ie=utf-8",
                 dataType: "script",
                 async: false,
                 success:function() {
                     console.log(returnCitySN);
                     console.log("ip_in_func: " + returnCitySN['cip']);
                     ip = returnCitySN['cip'];
                 }
            })
        }
        getIp();
    </script>
    <script>
        let is_cheat = 0;
        let ans = 0;
        $(function() {
            let cnt = 0;
            while(cnt < 5) {
                cnt ++;
                getIp();
                if(ip) {
                    break;
                }
            }
            let refer = document.referrer;
            console.log(refer);
            deck.intro();
            deck.sort();
            deck.fan();
            setTimeout(function() {
                deck.shuffle();
                deck.shuffle();
                let deck2 = Deck2();
                deck2.mount(document.getElementById("container"));
                deck2.shuffle();
                setTimeout(function() {
                    myContainerShow();

                }, 500);

                deck.poker();
                deck2.poker();

            }, 8000);
            //检测是否刷新。监测是否作弊
            if (window.performance) {
              console.info("window.performance works fine on this browser");
            }
          　if (performance.navigation.type == 1) {
                console.info( "This page is reloaded" );
                is_cheat = 1;

           　} else {
                console.info( "This page is not reloaded");
              }
        })
        function myContainerShow() {
            let myContainer = document.getElementById("myContainer");
            myContainer.style.display = "block";
            for(let i=1; i<=19; i+=2) {
                myContainer.childNodes[i].onclick = function() {
                    document.getElementById("nextButton").style.display = "block";
                    if(ans) {
                        swal("只能翻一张牌！");
                        return;
                    }
                    myContainer.childNodes[i].style.display = "none";
                    ans = getAns(parseInt(Math.floor(i / 2)));
                    if(ans === "A") {
                        ans = 1;
                    } else {
                        ans = parseInt(ans);
                    }
                    console.log("ans: " + ans);

                    for(let j=1; j<=19;j+=2) {
                        if(j === i) {
                            continue;
                        }
                        myContainer.childNodes[j].style.display = "block";
                    }
                }
            }
        }
        function getAns(pos) {
            let deck_dom = document.getElementsByClassName("deck")[1];
            for(let i =0; i <10; i++) {
                if(parseInt(deck_dom.childNodes[i].style.zIndex) === 9 + pos) {
                    return deck_dom.childNodes[i].childNodes[2].innerText;
                }
            }
        }
        function getNext() {
            if(!ans) {
                swal("请翻转一张纸牌");
                return;
            }
            let ans_list = [];
            {#let msg = "";#}
            {#for(let i=0; i<ans_list.length; i++) {#}
            {#    msg += "第" + (i + 1) + "轮抽取的数为： " + ans_list[i] + "\n";#}
            {#}#}
            {#msg += "此轮抽取的数为: " + ans + "\n";#}
            {#alert(msg);#}
            {#console.log(ans_list);#}
            ans = parseInt(ans);
            ans_list.push(ans);
            let pk = parseInt("{{ pk }}");
            console.log(ans_list);
            ans_lists = JSON.stringify(ans_list);

            {#alert("ans_list: " + ans_lists);#}
            {#window.location = "{% url 'data_note' %}?ans=" + ans_lists + "&&type={{ type }}&&is_cheat=" + is_cheat;#}
            $.post("{% url 'update_db' %}", {
                    type: "{{ type }}",
                    is_cheat: is_cheat,
                    ans: ans_lists,
                    ip: ip + ':' + innerIP,
                },
                function(data) {
                    if(data === 'success') {
                        window.location = "{% url 'finished' %}";
                    } else {
                        swal("保存失败，请联系管理员;失败原因："+data);
                    }
                }
            )
        }

        document.onkeydown = function (e) {//键盘按键控制
            e = e || window.event;
            if ((e.ctrlKey && e.keyCode == 82) || //ctrl+R
                e.keyCode == 116) {//F5刷新，禁止
                is_cheat=1;
                return false
            }
        }

    </script>
    <script>
        $(function() {
        　　if (window.history && window.history.pushState) {
            　　$(window).on('popstate', function () {
            　　window.history.pushState('forward', null, '#');
            　　window.history.forward(1);
            　　});
        　　}
        　　window.history.pushState('forward', null, '#'); //在IE中必须得有这两行
        　　window.history.forward(1);
    　　})


    </script>

    <script>
        window.addEventListener("popstate", function(e){
            swal("can't come back!");//根据自己的需求实现自己的功能
            console.log(e);
            e.preventDefault();
        }, false);
    </script>
{% endblock %}