{% extends 'base.html' %}
{% load static %}

{% block title %}
    翻牌程序
{% endblock %}

{% block css %}
    <link href="{% static 'deck-of-cards/example/example.css' %}" rel="stylesheet">
    <link href="{% static 'css/googleapis.css' %}" rel="stylesheet">
{% endblock %}


{% block body %}
    <br>
    <br>
    <br>
    <br>
    <div id="container">
        <div id="myContainer" style="z-index: 9999999; position: absolute; display: none">
            <div class="card hearts hearts9" style="z-index: 9; transform: translate3d(-225.5%, -250%, 0px); cursor: move; opacity: 1; transform-origin: 50% 110%;">
                <img src="{% static 'imags/back.jpeg' %}" width="78" height="110">
            </div>
            <div class="card hearts hearts9" style="z-index: 9; transform: translate3d(-115.5%, -250%, 0px); cursor: move; opacity: 1; transform-origin: 50% 110%;">
                <img src="{% static 'imags/back.jpeg' %}" width="78" height="110">
            </div>
            <div class="card hearts hearts9" style="z-index: 9; transform: translate3d(-5.5%, -250%, 0px); cursor: move; opacity: 1; transform-origin: 50% 110%;">
                <img src="{% static 'imags/back.jpeg' %}" width="78" height="110">
            </div>
            <div class="card hearts hearts9" style="z-index: 9; transform: translate3d(104.5%, -250%, 0px); cursor: move; opacity: 1; transform-origin: 50% 110%;">
                <img src="{% static 'imags/back.jpeg' %}" width="78" height="110">
            </div>
            <div class="card hearts hearts9" style="z-index: 9; transform: translate3d(214.5%, -250%, 0px); cursor: move; opacity: 1; transform-origin: 50% 110%;">
                <img src="{% static 'imags/back.jpeg' %}" width="78" height="110">
            </div>
            <div class="card hearts hearts9" style="z-index: 9; transform: translate3d(-225.5%, -125%, 0px); cursor: move; opacity: 1; transform-origin: 50% 110%;">
                <img src="{% static 'imags/back.jpeg' %}" width="78" height="110">
            </div>
            <div class="card hearts hearts9" style="z-index: 9; transform: translate3d(-115.5%, -125%, 0px); cursor: move; opacity: 1; transform-origin: 50% 110%;">
                <img src="{% static 'imags/back.jpeg' %}" width="78" height="110">
            </div>
            <div class="card hearts hearts9" style="z-index: 9; transform: translate3d(-5.5%, -125%, 0px); cursor: move; opacity: 1; transform-origin: 50% 110%;">
                <img src="{% static 'imags/back.jpeg' %}" width="78" height="110">
            </div>
            <div class="card hearts hearts9" style="z-index: 9; transform: translate3d(104.5%, -125%, 0px); cursor: move; opacity: 1; transform-origin: 50% 110%;">
                <img src="{% static 'imags/back.jpeg' %}" width="78" height="110">
            </div>
            <div class="card hearts hearts9" style="transform: translate3d(214.5%, -125%, 0px); cursor: move; opacity: 1; transform-origin: 50% 110%;">
                <img src="{% static 'imags/back.jpeg' %}" width="78" height="110">
            </div>
        <div>

    </div>

{% endblock %}

{% block nextButton %}

    <input type="button" id="nextButton" class="btn btn-primary" value="下一步" onclick="getNext()" style="display: none;">

{% endblock %}
{% block js %}
    <script src="{% static 'deck-of-cards/dist/deck.js' %}"></script>
    <script src="{% static 'deck-of-cards/example/example.js' %}"></script>

    <script>
        let ans = 0;
        $(function() {
            deck.intro();
            deck.sort();
            deck.fan();
            setTimeout(function() {
                deck.shuffle();
                deck.shuffle();
                setTimeout(myContainerShow, 1000);
                deck.poker();
            }, 8000);

        })
        function myContainerShow() {
            let myContainer = document.getElementById("myContainer");
            myContainer.style.display = "block";
            for(let i=1; i<=19; i+=2) {
                myContainer.childNodes[i].onclick = function() {
                    document.getElementById("nextButton").style.display = "block";
                    if(ans) {
                        alert("只能翻一张牌！");
                        return;
                    }
                    myContainer.childNodes[i].style.display = "none";
                    ans = getAns(parseInt(Math.floor(i / 2)));
                    if(ans === "A") {
                        ans = 1;
                    } else {
                        ans = parseInt(ans);
                    }
                    console.log("ans: " + ans);

                    for(let j=1; j<=19;j+=2) {
                        if(j === i) {
                            continue;
                        }
                        myContainer.childNodes[j].style.display = "block";
                    }
                }
            }
        }
        function getAns(pos) {
            let deck_dom = document.getElementsByClassName("deck")[0];
            for(let i =0; i <10; i++) {
                if(parseInt(deck_dom.childNodes[i].style.zIndex) === 9 + pos) {
                    return deck_dom.childNodes[i].childNodes[2].innerText;
                }
            }
        }
        function getNext() {
            if(!ans) {
                alert("请翻转一张纸牌");
                return;
            }
            let ans_list = [];
            {#let msg = "";#}
            {#for(let i=0; i<ans_list.length; i++) {#}
            {#    msg += "第" + (i + 1) + "轮抽取的数为： " + ans_list[i] + "\n";#}
            {#}#}
            {#msg += "此轮抽取的数为: " + ans + "\n";#}
            {#alert(msg);#}
            {#console.log(ans_list);#}
            ans_list.push(ans);
            let pk = parseInt("{{ pk }}");
            console.log(ans_list);
            ans_lists = JSON.stringify(ans_list);

            {#alert("ans_list: " + ans_lists);#}
            window.location = "{% url 'data_note' %}?ans=" + ans_lists + "&&type={{ type }}";
        }


    </script>
{% endblock %}