{% extends 'base.html' %}
{% load static %}
{% block title %}
    欢迎来到翻牌游戏
{% endblock %}

{% block css %}

{% endblock %}


{% block body %}
    <div class="text-center">
        <h1>欢迎进入翻牌游戏</h1>
        <h1>第一轮</h1>
    </div>


{% endblock %}

{% block js %}
    <script>
        let time_cnt = 3;
        $(function() {
            window.setTimeout(wait, 1000);

        });
        function wait() {
            if(time_cnt === 0) {
                window.location = "{% url 'role_distribution' %}";
            }
            setTimeout(wait, 1000);
            console.log(time_cnt);
            time_cnt --;
        }
    </script>

{% endblock %}